.userComment-title{
    height: 50px;
    margin-left: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    background-color: rgb(248,248,248);
    font-size: 25px;
    padding-top: 15px;
}
#userComment{
    margin-left: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    
}
#userComment .pagination-middle{
    margin-left: 20%
}
#userComment .el-table .info-row {
    background-color: rgb(197, 227, 247);
}

#userComment .el-table .positive-row {
    background: #fae6cb;
}
#userComment .el-table_1_column_2   .cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#userComment .el-table_1_column_3   .cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}